body {
  overflow-x: hidden; 
  background: #F9F9FE;
}

.btn-primary {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4; 
}
.toggle-menu{
  margin-top: 20px;
  margin-left: 30px;
}


/*================================ login page ========================================*/

.edap-login{
  background: #fcf8f8;
  padding: 110px 0;
}


.login-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-page-logo{
  margin-bottom: 40px;
}

.login-page-logo img{
  width: 100px;
}

.login-page-form{
  background: #ffffff;
  padding: 60px 60px;
}

.form-label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.login-page-form .form-control {
  display: block;
  width: 210px;
  height: 38px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 12px;
}

.login-page-form ::placeholder {
   padding-left: 0;
}


.login-page-form .mb-3{
  position: relative;
}

.login-page-form .login-page-icon{
  position: absolute;
    right: 9px;
    width: 15px;
    top: 55px;
}

.form-remember-password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-check{
  font-size: 10px;
}

.form-remember-password h4{
  font-size: 10px;
  padding-top: 2px;
  font-weight: 400;
}


/* ========================LOGIN PAGE SIDE IMAGE=========================== */


.login-page-form-image{
  background: #fff;
}

.login-page-form-image img{
 width: 330px;
 border-top-left-radius: 26px;
 border-bottom-left-radius: 26px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left:7%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: justify;
  z-index: 999;
}

.carousel-item::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, #000 0%, #000 100%);
  background: -webkit-linear-gradient(top, #000 0%, #000 100%);
  background: linear-gradient(to bottom, #000 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );
  opacity: 0.6;
  z-index: 2;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

.prev{
  position: relative;
}

.prev img{
  width: 35px !important;
  border-radius: 93px;
  border: 2px solid #4a4747;
  position: absolute;
  top: 196px;
  background: #fff;
  padding: 10px;
  left:186px;
  z-index: 999;
}

.next{
  position: relative;
}

.next img{
  width: 35px !important;
  border-radius: 93px;
  border: 2px solid #4a4747;
  position: absolute;
  top: 196px;
  background: #fff;
  padding: 10px;
  right: 17px;
  z-index: 999;
}


.social-media ul{
 padding-left: 0;
}

.social-media ul li{
  text-decoration: none;
  display:inline-block;
  padding-right: 10px;
}

.social-media ul li a{
  text-decoration: none;
}

.social-media ul li a img{
  width: 10px !important;
}

/* ========================================================USER DASHBOARD=============================================================== */

.top-menubar{
  width: 100%;
}

.edap-menubar{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  background: transparent;
}
.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 11px;
}

.lni-search-alt{
  font-size: 17px;
  position: relative;
  right: 28px;
  top: 21px;
}

.navbar-nav .nav-item {
  position: relative;
  margin-top: 4px; 
}

#navbarDropdown{
  margin-top: 8px;
  margin-right: 18px;
}

.navbar-nav .nav-item .nav-link .ti {
  border: 1px solid #a2a2cc;
  padding: 7px;
  border-radius:8px;
  background: #fff;
  position: relative;
  font-size: 20px;
}

.navbar-nav .nav-item .nav-link .notification {
  background-color: #e80b42;
  position: absolute;
  border-radius: 26px;
  padding: 5px;
  width: 8px;
  top: 12px;
  right: 29px;
  line-height: 10px;
}

.navbar-nav .dropdown {
  position: relative;
  top: 1px;
  padding-left: 10px; 
}

.edap-profile-image a img {
  border-radius: 30px;
  width: 90% !important;
  position: relative; 
  bottom: 7px;
  border: 4px solid #03a9f4;
}

.navbar-nav .dropdown .dropdown-toggle::after {
  display: none; 
}

.edap-profile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30px;
  position: relative;
}

.edap-profile::after{
  content: "";
  display: inline-block;
  position: absolute;
  background: #cec7c7;
  height: 28px;
  padding: 1px;
  width: 1px;
  left: 3px;
  bottom: 7px;
}

.edap-profile h3{
  margin-bottom: 0;
  font-size: 13px;
  padding-top: 10px;
}

.post{
  font-size: 12px;
}


/* =============================MAIN BODY PART================================ */

.wrapper {
  padding-left: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper .bg-light {
  background-color: transparent !important;
}

.wrapper .bg-light .sidebar-header img {
  width: 75%; 
}

.wrapper #sidebar ul li a {
  padding: 12px;
  font-size: 14px;
  display: block;
  color: #282f2d;
}

.wrapper .bg-light .list-group-item.active {
  border-color: #ddd;
  background: #6969a2 !important;
  color: #fff;
  width: 105%;
  position: relative; 
}

.wrapper .bg-light .list-group {
  margin-top: 22px; 
}

.wrapper .bg-light .list-group a {
  color: #484242;
  padding: 14px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative; 
}

.wrapper .bg-light .list-group a:hover {
  background-color: #6969a2 !important;
  transition: all 0.5s ease-in;
  color: #fff;
  width: 105%;
  position: relative; 
}

.wrapper .bg-light .list-group a .ti {
  font-size: 18px;
  padding-right: 20px; 
}

.wrapper #content {
  display: flex; 
}

.wrapper #sidebar {
  min-width: 195px;
  max-width: 300px;
  background: #fff;
  color: #7386D5;
  transition: all 0.5s;
  display: block; 
}

.wrapper #sidebar.active {
  min-width: 126px;
  max-width: 126px;
  text-align: center;
  display: block; 
}

.wrapper #sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); 
}
.sidebar-header{
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.flex-column{
  margin-top: 70px;
}

.sign-out{
  margin-top: 40px;
}

.sign-out a {
  color: #262727;
  text-decoration: none;
  padding-left: 20px;
}


.wrapper #sidebar .sidebar-header img {
  padding: 10px;
  background: #fff;
  width: 78%; 
}

.wrapper #sidebar .sidebar-header img {
  width: 100%; 
}

.wrapper #sidebar.active .sidebar-header img {
  width: 121px;
  height: 80px; 
  background: url("../img/Layer 2.png");
}

.wrapper #sidebar ul.components {
  padding: 5px 0; 
}

.wrapper #sidebar ul li a:hover {
  color: #fff;
  background: #6969a2; 
}

.wrapper #sidebar ul li a i {
  margin-right: 10px; 
}

.wrapper #sidebar ul li.active {
  background: #55b4ee; 
}

.wrapper #sidebar ul li.active a {
  color: #fff; 
}

.wrapper a[data-toggle="collapse"] {
  position: relative; 
}

.wrapper .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); 
}

.wrapper ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc; 
}

.wrapper ul.CTAs {
  padding: 20px; 
}

.wrapper ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px; 
}

.wrapper a.download {
  background: #fff;
  color: #7386D5; 
}

.wrapper a.article,
.wrapper a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important; 
}


#nav_accordion .nav-item{
display: flex;
}

.nav-item  img{
  width: 20px;
  height: 20px;
  position: relative;
  top: 12px;
}

.sign-out{
  position: absolute;
  bottom: 20px;
}

.sign-out img{
  width: 20px;
  height: 20px;
  position: relative;

}

.sign-out a {
    color: #262727;
    text-decoration: none;
    padding-left: 2px;
}



/* ============================================================USERS===================================================== */
.edap-users-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 42px;
  padding-left: 26px;
 
}

.edap-users-new-user{
  margin-bottom: 20px;
}

.edap-users-new-user .btn-primary {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4; 
  padding: 8px 10px;
  border-radius: 8px;
}

.edap-users-action-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lni-plus{
  font-size: 12px;
  top: 1px;
  position: relative;
  padding-right: 10px;
}

.edap-users-filter{
  border: 1px solid #C1BBB9;
  border-radius: 8px;
  height: 42px;
  padding: 8px 10px;
  margin-right: 22px;
}
.edap-users-filter .lni{
  margin-top: 7px;
}
.edap-users-reload{
  border: 1px solid #C1BBB9;
  border-radius: 8px;
  height: 42px;
  padding: 8px 10px;
  margin-right: 22px;
}
.edap-users-reload .lni{
  margin-top: 7px;
}
.edap-users-content-header{
  padding-left: 30px;
  padding-top: 20px;
}

.edap-users-content-header h2{
  font-size: 18px;
  margin-bottom: 9px;
}

.edap-users-content-header p{
  color: #484242;
}


/* --------------------------USER DATA TABLE ----------------------------------------*/



.user-table{
  background: #fff;
  margin-left: 30px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.user-table table{
  width: 100%;
}


.user-table th{
  padding-bottom: 20px;
}
.user-table tr,td{
  padding: 20px;
}

.user-table img{
  width: 30px;
  border-radius: 8px;
  height: 40px;
  margin-right: 10px;
}


.user-table .green {
  border: 1px solid #33B438;
  background: #33b43838;
  border-radius: 22px;
  padding: 2px 18px;
  font-size: 10px;
  color: #33B438;
  position: absolute;
  margin-top: 5px;
}

.user-table .green-dot {
  border: 1px solid #33B438;
  background: #33B438;
  border-radius: 55px;
  padding: 2px;
  bottom:9px;
  position: absolute;
  left: 7px;
  width: 0%;
}
.user-table .inactive{
  border: 1px solid #ff0000;
    background: #e2130024;
    border-radius: 22px;
    padding: 2px 18px;
    font-size: 10px;
    color: #f20d0d;
    position: relative;
    margin-top: 5px;
    width: 30px;
}

.user-table .inactive-dot {
  border: 1px solid #ff0000;
  background: #ff0000;
  border-radius: 55px;
  padding: 2px;
  bottom: 9px;
  position: absolute;
  left: 7px;
  width: 0%;
}


.action{
  display: flex;
  flex-direction: row;
  justify-content:start;
}

.user-table .action .action-icon{
 padding-right: 10px;
}

/*-------------------------- DATA TABLES--------------------------- */

#example_length, #example_filter{
  display: none;
}

table.dataTable thead .sorting{
  background-image: none;
}
  
table.dataTable thead .sorting_asc {
  background-image: none;
}

thead th{
  background: #D8F2FF;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  border: 1px solid #cec8c8;
  border-radius: 8px;
}

table.dataTable.no-footer {

  border-radius: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  display: none;
}

.dataTables_info{
  padding-left: 20px;
}

/* =================================================== PERMISSION =================================================== */


.edap-permission-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 42px;
  padding-left: 30px;
}

.hr{
  margin-right: 30px;
  margin-left: 30px;
  width: 100px;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.edap-permission{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.edap-permission-action-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edap-permission-search{
  position: relative;
}

.edap-permission-search .lni-search-alt {
  font-size: 17px;
  position: relative;
  right: -31px;
  top: 21px;
}

.edap-permission-search ::placeholder{
  margin-left: 20px;
}



.admin-button{
  padding-right: 20px;
  padding-top: 12px;
}
.edap-permission-setup{
  padding-top: 10px;
  padding-right: 42px;
  padding-left: 45px;
}

.edap-permission-setup .edap-permission-setup-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.edap-permission-option-box{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
}




/* side menu */


/* ============ desktop view ============ */
/* @media all and (min-width: 992px) {

    .sidebar li{ 
      position: relative; 
      padding-left: 10px;
    }

    .sidebar li .submenu{ 
        display: none;
        position: absolute;
        left:100%; top:-7px;
        min-width: 240px;
    }

    [dir=rtl] .sidebar li .submenu{ 
        right:100%; left:auto;
    }

    .sidebar li:hover{ 
      background: var(--bs-light); 
    }
    .sidebar li:hover > .submenu{ 
      display: block; 
    }

}	 */
/* ============ desktop view .end// ============ */


/* ============ small devices ============ */
/* @media (max-width: 991px) {

    .sidebar .submenu, .sidebar .dropdown-menu{
        position: static!important;
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }

}	 */


/* ============ small devices .end// ============ */


.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    background: var(--bs-light);
    color: var(--bs-primary);
}














  
  