html,body {
  overflow-x: hidden; 
  background: #F9F9FE;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

p,ul,ol,li,th,td,a,h1,h2,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
} 


.btn-primary {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4; 
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}

.btn-secondary {
  background: #3AB4F2;
  border: 1px solid #3AB4F2;
  padding: 10px 16px;
  border-radius: 8px;
}

.btn-light {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 40px;
  border-radius: 8px;
}

.btn-warning{
  padding: 10px 40px;
  border-radius: 8px;
}

a {
  color: #000;
}

.border-bottom{
  border-bottom: 1px solid #DBDBDB;
}

.edap-form-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edap-form-buttons-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}




/* ============================================================SETUP USERS===================================================== */







.edap-users-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 42px;
}

.edap-users-new-user{
  margin-bottom: 20px;
}

.edap-users-new-user .btn-secondary {
  color: #fff;
  background-color: #03a9f4;
  border-color: #03a9f4;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.edap-users-action-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edap-users-action-button .lni-plus{
  font-size: 12px;
  top: 1px;
  position: relative;
  line-height: 20px;
  padding: 0 !important;
}

.edap-users-filter{
  border: 1px solid #C1BBB9;
  border-radius: 8px;
  height: 42px;
  padding: 8px 10px;
  margin-right: 22px;
}

.edap-content-header{
  padding-top: 20px;
  padding-bottom: 30px;
}

.edap-content-header h2{
  font-size: 32px;
  margin-bottom: 9px;
}

.edap-content-header p{
  color: #484242;
}




/*-------------------------- DATA TABLES--------------------------- */






.edap-data-table{
  background: #fff;
  margin-right: 40px;
  margin-bottom: 75px;
  border-radius: 8px;
  overflow-x:auto;
}

.edap-data-table table{
  width: 100%;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  margin-top: 18px;
}


.edap-data-table th{
  padding-bottom: 20px;
}

.edap-data-table tr,td{
  padding: 20px;
}

.edap-data-table img{
  width: 30px;
  border-radius: 8px;
  height: 40px;
  margin-right: 10px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #fff;
  color: var(--bs-table-striped-color);
}  

.edap-data-table .green {
  border: 1px solid #33B438;
  background: #33b43838;
  border-radius: 22px;
  padding: 5px 18px;
  font-size: 14px;
  color: #33B438;
  position: absolute;

}

.edap-data-table .green-dot {
  border: 1px solid #33B438;
  background: #33B438;
  border-radius: 55px;
  padding: 2px;
  bottom:12px;
  position: absolute;
  left: 7px;
  width: 0%;
}

.edap-data-table .inactive{
  border: 1px solid #ff0000;
  background: #e2130024;
  border-radius: 22px;
  padding: 5px 18px;
  font-size: 14px;
  color: #f20d0d;
  position: absolute;
  width:84px;
}

.edap-data-table .inactive-dot {
  border: 1px solid #ff0000;
  background: #ff0000;
  border-radius: 55px;
  padding: 2px;
  bottom: 12px;
  position: absolute;
  left: 7px;
  width: 0%;
}


.action{
  display: flex;
  flex-direction: row;
  justify-content:start;
}

.edap-data-table .action .action-icon{
 padding-right: 10px;
}



 #example_filter{
  margin-bottom: 20px;
}  

.edap-data-table select {
  word-wrap: normal;
  border: 1px solid #C1BBB9;
  border-radius: 8px;
  padding: 4px;
}


.edap-data-table label{
  font-size: 18px;
}



.dataTables_wrapper .dataTables_length {
  margin-bottom: 20px;
} 

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #C1BBB9;
}


table.dataTable thead .sorting{
  background-image: none;
}
  
table.dataTable thead .sorting_asc {
  background-image: none;
}

table.dataTable thead .sorting_dec {
  background-image: none;
}

thead th{
  background: #D8F2FF;
}

table.dataTable thead th {
  padding: 17px 18px;
  border-bottom: 1px solid #DBDBDB;
  background: #D8F2FF;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  border-radius: 8px;
}

.pt{
  margin-top: 10px;
}

table.dataTable tbody td {
  padding: 12px 10px;
}

.border-top-left-radius{
  border-top-left-radius: 8px;
}

.border-top-right-radius{
  border-top-right-radius: 8px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #d1cccc;
  border-radius: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  display: none;
}

.dataTables_info{
  padding-left: 20px;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  cursor: default;
  color: #666 !important;
  border: 1px solid #00000087;
  border-radius: 8px;
  margin: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid #C1BBB9;
  background: transparent;
  box-shadow: none;
}

.edap-data-table .dropdown-toggle {
  white-space: nowrap;
  border: none;
  background: transparent;
}

.edap-data-table  .dropdown-toggle::after {
  display: none !important;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}




/* =================================================== PERMISSION =================================================== */







.edap-permission-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:30px;
  padding-right: 42px;
  padding-left: 30px;
}

.edap-permission-title h3{
  font-size: 20px;
  font-weight: 500;
}

.edap-permission-setup h3{
  font-size: 18px;
  font-weight: 600;
}


.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.edap-permission{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edap-permission-action-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edap-permission-search{
  position: relative;
}

.edap-permission-search .lni-search-alt {
  font-size: 17px;
  position: relative;
  right: -31px;
  top: 21px;
}

.edap-permission-search ::placeholder{
  margin-left: 20px;
}

.admin-button{
  padding-right: 20px;
  padding-top: 12px;
}


.admin-button .btn-warning {
  padding: 10px 40px;
  border-radius: 36px;
  color: #fff;
}



.edap-permission-setup{
  padding-top: 10px;
  padding-right: 42px;
  padding-left: 45px;
}

.edap-permission-setup .edap-permission-setup-options{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}

.edap-permission-option-box{
  background: #fff;
  padding: 4px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.edap-permission-option-box .form-check-label{
  font-size: 16px;
  font-weight: 600;
}


.edap-permission-option-box .form-check  .form-switch .form-check-input {
  width: 34px;
  border-radius: 15px;
  padding: 10px;
  margin-right: 8px;
}


.edap-permission-option-box  .form-check  .form-check-input[type=checkbox] {
  border-radius: 8px !important;
  padding: 10px !important;
  margin-right: 8px;
} 


.edap-permission-option-box .form-check p{
  padding-left: 10px;
}


/* ================================================= EQUIPMENT MANAGEMENT ======================================================================== */

.edap-equipment-management-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.edap-equipment-management-buttons .btn-warning {
  padding: 10px 40px;
  border-radius: 8px;
  color: #fff;
  margin-right: 10px;
}

.edap-equipment-management-buttons  .lni-upload{
  padding-right: 10px;
}


.equipment-management  img {
  width: 17px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
}


.equipment-management .yellow{
  border: 1px solid #F2DF3A;
  background: #fff38954;
  border-radius: 22px;
  padding: 5px 18px;
  font-size: 14px;
  color: #F2DF3A;
  position: absolute;
  opacity: 0.5;
}





















/* ====================== ============================DOCUMENT========================================= ============================== */








.document-info-content{
  background: #fff;
  padding: 30px 30px;
  margin-right: 30px;
  margin-top: 50px;
}

#document-info-sidebar{
  position: sticky;
  width: 330px;
  overflow-y: scroll;
  top: 75px;
  bottom: -73px;
  border: none;
  height: 560px;
}

.document-info-item a{
  background: white;
  padding: 10px 3px !important;
}


/* .document-info-item a:hover {
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  padding: 4px 3px !important;
} */

.document-info-sidebar-block .document-info-item a:hover {
  background: transparent !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  padding: 10px 3px !important;
  border-radius: 8px;
}

.document-info-sidebar-block .modal-backdrop {
  position: relative !important;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
}

.scrollbar-horizontal{
  position: absolute; 
  width: 174px;
  overflow-x: scroll;
}

.breadcrumb a{
  text-decoration: none;
}

.document-info-content .offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: 700px;
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
}


.document-info-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.scrollbar-horizontal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #EFEFEF;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3AB4F2;
  border-radius: 20px;
  border: 3px solid #3AB4F2;
}


.document-info-sidebar::-webkit-scrollbar-thumb {
  background-color: #3AB4F2;
  border-radius: 20px;
  border: 3px solid #3AB4F2;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 10px;
}



.document-info-header .btn-primary {
  background-color: #03a9f4;
  border-color: #03a9f4;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
}

.document-info-header  h2{
  font-size: 18px;
  padding-top: 10px;
}

.lni-folder{
  padding-right: 20px;
  padding-top: 4px;
  padding-left: 10px;
  font-size: 16px;
}
.lni-add-files{
  color: red;
  padding-right: 20px;
  padding-top: 4px;
  padding-left: 10px;
  font-size: 16px;
}
.nav-pills{
  background: #E4F6FF;
  width:372px;
  border-radius: 8px;
  padding: 3px;
}

.tab-content>.active {
  display: block;
  padding-top: 20px;
}


.document-info-sidebar-block .py{
  padding-top: 0;
  padding-bottom: 0;
}


.nav-pills .nav-link.active {
  color: #151515;
  background-color: #ffffff;
}

h4{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
}


.document-info-table{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.odd-color{
  background: #F2FAFF;
}

.even-color{
  background: #ffffff;
}

.document-info-tab{
  padding-top: 30px;
}



.nav-tabs .nav-link{
  font-size: 14px;
  color: #928C8A;
}


.nav-tabs .nav-link.active {
  color: #312C2A;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 5px solid #4ebbf1;
  padding-left: 0;
}

.nav-tabs .nav-link.active:hover {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 5px solid #4ebbf1;
  padding-left: 0;
}

.nav-tabs .nav-link:hover {
  color:#000;
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;

}

.btn-light{
  background: #3AB4F2;
  float: right;
}


.btn-light:hover {
  color: var(--bs-btn-hover-color);
  background-color: #3AB4F2;
  border: 1px solid #3AB4F2;
}


.bg-blue{
  background: #EAF8FF;
  border: 1px solid #EAF8FF;
  border-radius: 8px;
  padding: 10px 20px;
}

.lni-trash-can{
  color: #FF0000;
  font-size: 22px;
}

.lni-plus {
  font-size: 16px;
  color: #fff;
  padding: 6px;
}


.tab-content-table{
   border: 1px solid #ddd;
  border-radius: 8px;
}

.tab-content-form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #D8F2FF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  /* border: 1px solid #ddd;
    border-top-left-radius: 8px;
     border-bottom-left-radius: 8px; */
}

.tab-content-form-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.tab-content-form-header .btn-light {
  background: #3AB4F2;
  float: right;
  padding: 10px 17px;
}

.tab-content-table .form-control {
  background: #d8f2ff;
  border: 1px solid transparent;
  padding: 25px 10px;
  margin-left: 10px;
  width: 450px;
}

.tab-content-form-list-border-bottom{
  border-bottom: 1px solid #ddd;
}


.document-info-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}


.document-info-buttons .btn-light{
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 40px;
  border-radius: 8px;
  margin-right: 20px;
}


.document-info-buttons .btn-light:hover{
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 40px;
  border-radius: 8px;
}


.document-info-buttons  .btn-secondary{
  background: #3AB4F2;
  border: 1px solid #3AB4F2;
  padding: 10px 16px;
  border-radius: 8px;
}


.tab-content-table .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border: 2px solid #66c7f9;
  border-radius: 8px;
  background: aliceblue;
}


.input-group-lg>.input-group-text {
  padding: 0.5rem 1rem;
  font-size: 15px;
  border-radius: 0.5rem;
}

.tab-content-table  .input-group-text {
  background-color: transparent;
}


.trash{
  float: right;
  padding-right: 20px;
  padding-top: 24px;
}




/* ============================ADD EQUIPMENT TABLE ========================================== */




.add-equipment-form .form-control{
  height: 60px;
  font-size: 16px;
  background: #F2F6FF;
  background-clip: padding-box;
  border: 1px solid #F2F6FF;
} 


.add-equipment-form .form-label {
  margin-bottom: 0;
  font-size: 16px;
}

.add-equipment-form .form-select{
  background: #F2F6FF;
  background-clip: padding-box;
  border: 1px solid #F2F6FF;
}

.add-equipment-form .form-select {
  height: 58px;
  font-size: 16px;
}

.require{
  color: red;
}



.edap-form-buttons-right .btn:first-child:active{
  color: var(--bs-btn-active-color);
  background: transparent;
  border-color: var(--bs-btn-active-border-color);

}


.edap-form-buttons .btn-light:hover {
  color: var(--bs-btn-hover-color);
  background-color: transparent;
  border: 1px solid #717171;
}

.edap-form-buttons .btn-light{
  background: #fff;
    border: 1px solid #ddd;
    padding: 13px 40px;
    border-radius: 8px;
    margin-right: 13px;
}



.edap-form-buttons .btn-secondary {
  background: #3AB4F2;
  border: 1px solid #3AB4F2;
  padding: 13px 40px;
  border-radius: 8px;
}


.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #55679D;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #55679d;
}



.add-equipment-form .form-select:focus {
  border-color: #55679D;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #55679D;
}

.add-equipment-form .form-check-input:checked {
  background: #fff;
  border:1px solid #36d152;
}

.form-check-input[type=checkbox] {
  border-radius: 8px;
}

.add-equipment-form .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #36d152;
}


.js-example-basic-single{
  width: 100%;
  border-radius: 8px;
  margin-top: 38px;
  padding: 16px;

  font-size: 16px;
  background: #F2F6FF;
  background-clip: padding-box;
  border: 1px solid #F2F6FF;
}


/* =========================NOTES================= */



.notes-table {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.notes-table .form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 15px 20px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: #EAF8FF;
  background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 12px;
  border: 1px solid #EAF8FF;
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  margin-top: 0;
}

.notes-table .form-control {
  display: block;
  width: 100%;
  height: 56px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #EAF8FF;
  background-clip: padding-box;
  border: 1px solid #EAF8FF;
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 0;
  margin-left: 15px;
}


.notes-table textarea.form-control {
  min-height: 54px;
}

.notes-table td{
  padding: 0;
}


.page-link {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 4px 12px;
}

.page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: transparent;
  border: 1px solid #fff;
}

.justify-content-center {
  justify-content: left;
  background: #EAF8FF;
  padding: 10px 16px;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 10px;
  width: 60%;
}

.page-item:first-child .page-link {
  border: 1px solid #0dcaf0;
  border-radius: 8px;
  background: #fff;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}


.page-item:last-child .page-link {
  border: 1px solid #0dcaf0;
  border-radius: 8px;
}


.notes-table .btn-light {
  background: #3AB4F2;
  float: right;
  padding: 7px 7px !important;
}


/* subtask */
.subtask-table  {
  border: 1px solid #ddd;
  border-radius: 8px;
}
.subtask-table .form-control {
  background: #d8f2ff;
  border: 1px solid transparent;
  width: 100%;
  height: 53px;
  line-height: 39px;
}

.subtask-table .btn-light {
  background: #3AB4F2;
  float: right;
  padding: 7px 7px !important;
}


.subtask-table td {
  padding: 0;
}


/* pictures */

.pictures-dropdown{
  display: flex;
  flex-direction: row;
}


.pictures-table {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pictures-table td{
  padding: 0;
}

.pictures-table .form-control {
  background: #d8f2ff;
  border: 1px solid transparent;
  width: 98%;
  height: 53px;
  line-height: 39px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}

.pictures-table .btn-light {
  background: #3AB4F2;
  float: right;
  padding: 7px 7px !important;
}

.pictures-table .pictures-dropdown .form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width:150%;
  padding: 15px 20px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background: #d8f2ff;
  background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 12px;
  border: 1px solid #EAF8FF;
  border-radius: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  margin-top: 0;
}

.modal-body .form-select {
  width: 98% !important;
}

.modal-body img{
  width: 100%;
}


.modal-body .nav-tabs .nav-link {
  font-size: 16px;
  color: #928C8A;
  font-weight: 500;
}

.modal-body .form-label {
  margin-bottom: 0;
  margin-left: 10px;
}


.pictures-table .modal-footer .btn-light{
  background: #fff !important;
  border: 1px solid #ddd !important;
  padding: 13px 40px !important;
  border-radius: 8px;
  margin-right: 13px;

}

.modal-footer .add-equipment-form-buttons .btn-secondary {
  background: #3AB4F2;
  border: 1px solid #3AB4F2;
  padding: 13px 40px;
  border-radius: 8px;
}

.pictures-dropdown .btn-primary{
  background: #d8f2ff !important;
  border: 1px solid #d8f2ff !important;
  padding: 14px 20px;
  border-radius: 54px;
  margin-top: 5px;
  margin-left: 10px;
}


.pictures-dropdown .btn-primary .lni-image{
  color: #F2783A;
  font-size: 20px;
  line-height: 30px;
}

.select2-container--default .select2-selection--single {
  background: #d8f2ff;
    border: 1px solid transparent;
    width: 114%;
    height: 53px;
    line-height: 39px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 51px;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 51px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}


/* tables */


.tables {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tables td{
  padding: 0;
}

.tables .form-control {
  background: #d8f2ff;
  border: 1px solid transparent;
  width: 98%;
  height: 53px;
  line-height: 39px;
  margin-left: 10px;
    margin-bottom: 10px;
}

.tables .btn-light {
  background: #3AB4F2;
  float: right;
  padding: 7px 7px !important;
}

















































/* ==========================================RESPONSIVENESS OF THE DASHBOARD EDAP========================================= */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

    /* PERMISSON PAGE RESPONSIVE DESIGN */

   .edap-permission-setup .edap-permission-setup-options{
      display: flex;
      flex-direction: column;
    }

  }

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .edap-permission-setup .edap-permission-setup-options{
      display: flex;
      flex-direction: column;
    }
  }

/* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .edap-permission-setup .edap-permission-setup-options{
      display: flex;
      flex-direction: column;
    }
  }

/* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .edap-permission-setup .edap-permission-setup-options{
      display: flex;
      flex-direction: row;
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .edap-permission-setup .edap-permission-setup-options{
      display: flex;
      flex-direction: row;
    }
  }
  
  